:root{
    --colorPrimary: #ff7c08; 
    
    --colorRed: #eb0029; 
    
    --paraColor: #484747; 
    
    --colorBlack: #231f40; 
    
    --colorWhite: #ffffff; 
    
    --paraFont: 'Manrope', sans-serif; 
    
    --headingFont: 'Barlow', sans-serif; 
    
    --cursiveFont: 'Oleo Script', cursive; 
    
    --boxShadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px; 
    
     
    
    --bs-blue: #0d6efd; 
    
    --bs-indigo: #6610f2; 
    
    --bs-purple: #6f42c1; 
    
    --bs-pink: #d63384; 
    
    --bs-red: #dc3545; 
    
    --bs-orange: #fd7e14; 
    
    --bs-yellow: #ffc107; 
    
    --bs-green: #198754; 
    
    --bs-teal: #20c997; 
    
    --bs-cyan: #0dcaf0; 
    
    --bs-black: #000; 
    
    --bs-white: #fff; 
    
    --bs-gray: #6c757d; 
    
    --bs-gray-dark: #343a40; 
    
    --bs-gray-100: #f8f9fa; 
    
    --bs-gray-200: #e9ecef; 
    
    --bs-gray-300: #dee2e6; 
    
    --bs-gray-400: #ced4da; 
    
    --bs-gray-500: #adb5bd; 
    
    --bs-gray-600: #6c757d; 
    
    --bs-gray-700: #495057; 
    
    --bs-gray-800: #343a40; 
    
    --bs-gray-900: #212529; 
    
    --bs-primary: #0d6efd; 
    
    --bs-secondary: #6c757d; 
    
    --bs-success: #198754; 
    
    --bs-info: #0dcaf0; 
    
    --bs-warning: #ffc107; 
    
    --bs-danger: #dc3545; 
    
    --bs-light: #f8f9fa; 
    
    --bs-dark: #212529; 
    
    --bs-primary-rgb: 13,110,253; 
    
    --bs-secondary-rgb: 108,117,125; 
    
    --bs-success-rgb: 25,135,84; 
    
    --bs-info-rgb: 13,202,240; 
    
    --bs-warning-rgb: 255,193,7; 
    
    --bs-danger-rgb: 220,53,69; 
    
    --bs-light-rgb: 248,249,250; 
    
    --bs-dark-rgb: 33,37,41; 
    
    --bs-white-rgb: 255,255,255; 
    
    --bs-black-rgb: 0,0,0; 
    
    --bs-body-color-rgb: 33,37,41; 
    
    --bs-body-bg-rgb: 255,255,255; 
    
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; 
    
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace; 
    
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)); 
    
    --bs-body-font-family: var(--bs-font-sans-serif); 
    
    --bs-body-font-size: 1rem; 
    
    --bs-body-font-weight: 400; 
    
    --bs-body-line-height: 1.5; 

    --white:#fff;

    --white2:#f7f7f7;

    --green1:#69bd43;

    --green2:#7bc55a;

    --green3:#87ca69;

    --green4:#6f9a37;

    --black:#262626;

    --black2:black;
    
     }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul 
{
    display: flex;
    align-items: center;
}
li{
    list-style: none !important;
}
a {
    text-decoration: none !important;
    color: #000 ;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media screen and (min-width:0px) and (max-width:413px){
    .tf__topbar .icons{
        display: none !important;
    }
}
@media screen and (min-width:0px) and (max-width:767px){
    html{
        font-size: 60%;
    }
    .slider .nav_content{
        display: none;
    }
    .slider .nav_icons{
        display: none !important;
    }
    .slider .fa-bars{
    display: block !important;
    }
    .blog_slide{
        width: 90% !important;
    }

}
@media screen and (min-width:768px) and (max-width:1023px){
    html{
        font-size: 80%;
    }
    .slider .nav_content{
        display: none;
    }
    .slider .nav_icons{
        display: none !important;
    }
    .slider .fa-bars{
    display: block !important;
    }
    .slider .logo img{
        width: 50% !important;
    }
    .blog_slide{
        width: 45% !important;
    }
   
   
}
.tf__topbar{
    width: 100%;
    height: 58px;
    background: var(--colorBlack);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.tf__topbar .contact{
    height: 58px;
}
.tf__topbar .gmail_phone{
    background-color: var(--bs-orange);
}

.tf__topbar .gmail_phone a:hover i , .tf__topbar .gmail_phone a:hover span{
    color: #000;
    transition: .6s;
}
.icons a{
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bs-orange);
    padding: .5rem .5rem;
    border-radius: 50%;
}
.icons a:hover{
    background-color:var(--bs-black);
}
nav{
    height: 80px;
    background-color:var(--bs-white);
    position: relative;
    top: 50px;
}
.menu_icon a{
    position: relative;
    background-color:rgba(255, 193, 7,.4);
    padding: .7rem .7rem;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
.menu_icon span{
position: absolute;
z-index: 3;
color: var(--bs-white);
background-color: var(--bs-orange);
border-radius: 50%;
bottom: 65%;
left: 65%;
font-size: .8rem;
padding: 2.5px 3px;
width: 1.5rem;
height: 1.5rem;
text-align: center;
}
.nav_icons .menu_icon li:hover a{
    color: var(--colorWhite);
    background-color: var(--colorPrimary);

}
.nav_content .nav_items{
    display: flex;
    gap: 3rem;
    padding-right: 10rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: var(--colorPrimary);
    text-transform: capitalize;
}
.nav_content .nav_items li:hover a{
    color: var(--bs-orange);
    transition: .4s;
}
.nav_content .nav_items .nav_link:hover.nav_link::after{
    display: block !important;
}
.nav_content .nav_items .Blog , .nav_items_drop_down .Blog{
    color: var(--bs-orange);
}
.nav_content .nav_items .nav_link::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: var(--colorPrimary);
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    display: none;
}
.nav_content .nav_items .nav_link{
    padding-bottom:5rem ;
}
.nav_items_drop_down {
    top: 80px;
    right: 5%;
    width: 200px;
    background-color: white;
    z-index: 4;
}
.slider .container .drop_down{
    display: none;
}
.nav_items_drop_down li
{
    padding: 1rem 0;
}
.nav_items_drop_down li:hover a{
    color: orange;
}
.slider .container .fa-bars{
    position: absolute;
    right: 10%;
}
.contact2{
    position: relative;
    width: 100% !important;
    height: 40vh;
    background: rgba(35, 31, 64, 0.5);
    margin-top: 50px;   
}
.contact2 .container{
    width: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}
.contact2 .container img{
    width: inherit;
    position: absolute;
    z-index: -1;
    height: inherit;
}
.contact2 .text{
    color: var(--white);
}
.contact2 .text h1
{
    color: var(--colorWhite);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 7px;
    font-family: var(--headingFont);
}
.contact2 .text a{
    text-transform: capitalize;
    color: var(--colorWhite);
    font-size: 16px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s; 
}
.contact2 .text a:hover h4
{
    color: var(--colorPrimary);
    transition: .5s;

}
.contact2 .text a:nth-of-type(2)
{
    color: var(--colorPrimary);
}
.contact2 .contact_text{
    padding-left: 8rem;
}
.blog_sec .blog_slide{
    width: calc((100% - 3rem)/3);
    min-height: 77vh;
    border-radius: .4rem;
    padding: .7rem;
    box-shadow: var(--boxShadow);
    overflow: hidden;
    background: var(--colorWhite);
}
.blog_sec .blog_slide .image{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: .4rem;
}
.blog_sec .blog_slide .blog_text .food{
    position: absolute;
    z-index: 4;
    top: -18px;
    right: 18px;
    font-family: var(--cursiveFont);
    background: var(--colorPrimary);
    color: var(--colorWhite);
    padding: 6px 20px;
    text-transform: capitalize;
    -webkit-border-radius: .5rem;
}
.blog_sec .blog_slide .image img{
    width: 100%;height: 100%;
    border-radius: .4rem;
}
.blog_sec .blog_slide:hover .image img{
    transform: scale(1.15,1.15);
    transition: 1s;
}
.blog_text .profile img{
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 50%;
    border: .3rem solid #fff;
}
.blog_text .profile .profile_text h5{
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
    margin-top: 6px;
    font-family: var(--headingFont);
    color: var(--colorBlack);
    line-height: 1.2;
    margin: 0;
}
.blog_text .profile .profile_text p{
    text-transform: capitalize;
    font-size: 13px;
    color: var(--colorPrimary);
    font-weight: 400;
    margin: 0;
}
.blog_text hr{
    color: var(--colorPrimary);
}
.blog_pragraf{
    padding-bottom: .7rem;
}
.blog_slide .blog_pragraf a{
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--colorBlack);
    font-family: var(--headingFont);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-transition: all linear .3s;
    margin: 0;
    text-decoration: none;
}
.blog_slide .blog_pragraf a:hover{
    color: var(--colorPrimary);
    transition: .5s;
}
.blog_slide .blog_pragraf p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: var(--paraColor);
}
.blog_text .read a{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;
    color: var(--colorBlack);
    -webkit-transition: all linear .3s;

}
.blog_text .read a:hover{
    color: var(--colorPrimary);
    transition: .5s;
}
.blog_text .read span{
    color: var(--colorPrimary);
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}









.last .container3 .who{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    background-color:var(--black);
    color: rgba(255, 255, 255,.6);
    font: normal 14px / 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 3rem 0;
}
.last .container3{
    width: 100% !important;
}
.last .container3 .who img{
    width: 200px;
}
.last .container3 .who .who_we p{
    margin: 0 0 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.last .container3 .who .who_we img{
    border-radius: .4rem;
}
.last .container3 .who .who_we .text{
    color: var(--white);
}
.last .container3 .who h3{
    color: var(--colorPrimary);
    font-family: Lato, sans-serif;
    padding-bottom: 1rem;
}
.last .container3 .more a{
    display: flex;
    align-items: center;
    gap: .5rem;
    color: rgba(255,255,255,0.6);
    line-height: 36px;
    padding: 2px 0;
    transition: 300ms;
    text-decoration: none;

}
.last .container3  h2{
    font-size: 1.5rem;
}
.last .container3  h4{
    font-size: 1rem;
}
.last .container3 .more a:hover{
    color: rgba(255,255,255,1);

}
.last .container3 .more img{
    width: 35px;
    opacity: .4;
    transition: .3s;
}
.last .container3 .more .img{
    padding-top:1.5rem ;
}
.last .container3 .more img:hover{
    opacity: 1;
}
.last .container3 .who .certificates .images{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
}
.last .container3 .who .certificates .images img{
    width: 110px;
    opacity: .4;
    transition: .3s;
}
.last .container3 .who .certificates .images img:hover{
    opacity: 1;
}
.last .container3 .who .contacts .contact4{
    display: flex;
    gap: .5rem;
    padding-bottom: 1rem;
}
.last .container3 .who .contacts .contact4:nth-of-type(2){
    color: rgba(255, 255, 255,1);
}
.last .container3 .who .contacts  .icons i{
padding: 1rem;
border:  rgba(255, 255, 255,1) solid .1rem;
border-radius: .4rem;
}
.last .container3 .who .contacts  .icons i:hover{
    color: rgba(255, 255, 255,1);
    background-color: var(--colorPrimary);
}
.last .container3 .finally{
    text-align: center;
    background-color:var(--black);
    color: rgba(255, 255, 255,.6);
}
.last .container3 .finally h4{
    padding: 1.5rem 0;
}

